bokeh==0.12.9
certifi==2017.7.27.1
cycler==0.10.0
decorator==4.1.2
ibis==1.6.0
ipython==7.16.3
ipython-genutils==0.2.0
jedi==0.10.2
Jinja2>=2.10.0
MarkupSafe==1.0
matplotlib==2.0.2
numpy==1.13.1
pandas==0.20.3
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.15
ptyprocess==0.5.2
Pygments==2.2.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.2
PyYAML==4.2b1
scipy==0.19.1
simplegeneric==0.8.1
six==1.10.0
tornado==4.5.1
tqdm==4.15.0
traitlets==4.3.2
wcwidth==0.1.7
